body {
	background-color: #333;
}

#main {
	width: 90%;
	padding: 0 5%;
	color: #ddd;
	text-align: center;
}

#title {
	font-size: 80px;
}

#count {
	font-size: 40px;
}

#kittens {
	width: 100%;
}

#kittenListContainer {
	float: left;
	width: 30%;
	padding-left: 3%;
}

ul {
	list-style: none;
	font-size: 30px;
	text-align: left;
	padding-top: 100px;
}

li:hover {
	background-color: #777;
	padding-left: 5%;
	color: white;
	font-size: 40px;
	border-radius: 20px;
}

img {
	height: auto;
	width: 70%;
	border-radius: 50px;
}

#kitten {
	float: left;
	width: 60%;
	padding-left: 3%;
}

#caption {
    width: 70%;
}